recoll/.recoll/idxstatus*
recoll/.recoll/index.pid
secret/
*~
ssh/.ssh/*rsa*
ssh/.ssh/sockets
.git/
leiningen/.lein/self-installs
zsh/.zsh-update
rofi-pass/.config/rofi-pass/last_used
systemd/.config/systemd/user/setenv.service.wants/