spacemacs/.spacemacs.d/misc/config_mu4e.el filter=git-crypt diff=git-crypt
spacemacs/.spacemacs.d/snippets/mu4e-compose-mode/* filter=git-crypt diff=git-crypt
beets/.config/beets/discogs_token.json filter=git-crypt diff=git-crypt
fonts/.fonts/* filter=git-crypt diff=git-crypt
flydict/dict filter=git-crypt diff=git-crypt
imapfilter/.imapfilter/* filter=git-crypt diff=git-crypt
isync/.mbsyncrc filter=git-crypt diff=git-crypt
mbsync/.mbsyncrc filter=git-crypt diff=git-crypt
ssh/.ssh/config filter=git-crypt diff=git-crypt
packages.yml filter=git-crypt diff=git-crypt
fasd/.fasd filter=git-crypt diff=git-crypt

