[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=emacs.service
Requires=emacs.service

[Service]
Type=simple
ExecStart=/home/markus/local/bin/ec

[Install]
WantedBy=emacs.service
