[Unit]
Description=Emacs: the extensible, self-documenting text editor
After=setenv.service
Requires=setenv.service

[Service]
Type=forking
ExecStart=/home/markus/.nix-profile/bin/emacs --daemon=markus
ExecStop=/home/markus/.nix-profile/bin/emacsclient -s markus --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=always
RestartSec=2

# Remove the limit in startup timeout, since emacs
# cloning and building all packages can take time
#TimeoutStartSec=0

[Install]
WantedBy=setenv.service
